{{ define "main" }}

<main aria-role="main"> 


  <div class="content"> 
    <div class="index-content framed">
      <h1 id="hello-there">Welcome to the Blog of MzDevelopment!</h1>
      <p>You can find all my ramblings on the following page!</p>
      <div align="center">
        <a class="read-more button" href="/timeline">View my posts →</a>
      </div>
      <div align="center">
        <a class="read-more button" href="/contact">Contact me →</a>
      </div>
    </div> 
  </div> 

</div>

</main>



{{ end }}
